.HomePage {
    .app-name {
        font-size: 3rem;
        margin: 30px auto;
    }
    .team-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
}