.MatchPage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;

    .year-selector {
        justify-self: flex-end;
        align-self: flex-start;
    }

    .select-year-label {
        margin-bottom: 10px;       
    }

    .page-heading {
        align-self: center;
        margin-top: 20px;
        margin-bottom: 40px;
    }
}
