@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}


body {
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: white;
  max-width: 1100px;
  margin: 0 auto;
}

a {
  color: lightgray;
}

